@charset "utf-8";
/* CSS Document */
@media print {
    .grid-view2 .button-column,.grid-view2 .button-column *,.grid-view2 .panel-footer,.grid-view2 .panel-footer *{
        display: none!important;
    }
    .grid-view2 .table-responsive {
        display: block !important;
    }
    .grid-view2 select,.grid-view2 select *,.grid-view2 input,.grid-view2 input *{
        display: none!important;
    }
    a[href]:after {
        content: none !important;
        display: none!important;
    }
    .btn btn-primary{
        display: none!important;
    }
    #printer{
        display: none!important;
    }
    .grid-view2 table{
        width: 100%!important;
        visibility: visible!important;
    }
    iframe{
        width: 100%!important;
        height: 100%!important;
    }
}