/* ------------------
 styling for the tables
   ------------------   */


body
{

}

#hor-minimalist-a
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    background: #fff;
    margin: 45px;
    width: 680px;
    border-collapse: collapse;
    text-align: left;
}
#hor-minimalist-a th
{
    font-size: 14px;
    font-weight: normal;
    color: #039;
    padding: 10px 8px;
    border-bottom: 2px solid #6678b1;
}
#hor-minimalist-a td
{
    color: #669;
    padding: 9px 8px 0px 8px;
}
#hor-minimalist-a tbody tr:hover td
{
    color: #009;
}


#hor-minimalist-b
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    background: #fff;
    margin: 45px;
    width: 680px;
    border-collapse: collapse;
    text-align: left;
}
#hor-minimalist-b th
{
    font-size: 14px;
    font-weight: normal;
    color: #039;
    padding: 10px 8px;
    border-bottom: 2px solid #6678b1;
}
#hor-minimalist-b td
{
    border-bottom: 1px solid #ccc;
    color: #669;
    padding: 6px 8px;
}
#hor-minimalist-b tbody tr:hover td
{
    color: #009;
}


#ver-minimalist
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    margin: 45px;
    width: 480px;
    text-align: left;
    border-collapse: collapse;
}
#ver-minimalist th
{
    padding: 8px 2px;
    font-weight: normal;
    font-size: 14px;
    border-bottom: 2px solid #6678b1;
    border-right: 30px solid #fff;
    border-left: 30px solid #fff;
    color: #039;
}
#ver-minimalist td
{
    padding: 12px 2px 0px 2px;
    border-right: 30px solid #fff;
    border-left: 30px solid #fff;
    color: #669;
}


#box-table-a
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    margin: 45px;
    width: 480px;
    text-align: left;
    border-collapse: collapse;
}
#box-table-a th
{
    font-size: 13px;
    font-weight: normal;
    padding: 8px;
    background: #b9c9fe;
    border-top: 4px solid #aabcfe;
    border-bottom: 1px solid #fff;
    color: #039;
}
#box-table-a td
{
    padding: 8px;
    background: #e8edff;
    border-bottom: 1px solid #fff;
    color: #669;
    border-top: 1px solid transparent;
}
#box-table-a tr:hover td
{
    background: #d0dafd;
    color: #339;
}


#box-table-b
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    margin: 45px;
    width: 480px;
    text-align: center;
    border-collapse: collapse;
    border-top: 7px solid #9baff1;
    border-bottom: 7px solid #9baff1;
}
#box-table-b th
{
    font-size: 13px;
    font-weight: normal;
    padding: 8px;
    background: #e8edff;
    border-right: 1px solid #9baff1;
    border-left: 1px solid #9baff1;
    color: #039;
}
#box-table-b td
{
    padding: 8px;
    background: #e8edff;
    border-right: 1px solid #aabcfe;
    border-left: 1px solid #aabcfe;
    color: #669;
}


#hor-zebra
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    margin: 45px;
    width: 480px;
    text-align: left;
    border-collapse: collapse;
}
#hor-zebra th
{
    font-size: 14px;
    font-weight: normal;
    padding: 10px 8px;
    color: #039;
}
#hor-zebra td
{
    padding: 8px;
    color: #669;
}
#hor-zebra .odd
{
    background: #e8edff;
}


#ver-zebra
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    margin: 45px;
    width: 480px;
    text-align: left;
    border-collapse: collapse;
}
#ver-zebra th
{
    font-size: 14px;
    font-weight: normal;
    padding: 12px 15px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    color: #039;
}
#ver-zebra td
{
    padding: 8px 15px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    color: #669;
}
.vzebra-odd
{
    background: #eff2ff;
}
.vzebra-even
{
    background: #e8edff;
}
#ver-zebra #vzebra-adventure, #ver-zebra #vzebra-children
{
    background: #d0dafd;
    border-bottom: 1px solid #c8d4fd;
}
#ver-zebra #vzebra-comedy, #ver-zebra #vzebra-action
{
    background: #dce4ff;
    border-bottom: 1px solid #d6dfff;
}


#one-column-emphasis
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    margin: 45px;
    width: 480px;
    text-align: left;
    border-collapse: collapse;
}
#one-column-emphasis th
{
    font-size: 14px;
    font-weight: normal;
    padding: 12px 15px;
    color: #039;
}
#one-column-emphasis td
{
    padding: 10px 15px;
    color: #669;
    border-top: 1px solid #e8edff;
}
.oce-first
{
    background: #d0dafd;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}
#one-column-emphasis tr:hover td
{
    color: #339;
    background: #eff2ff;
}


#newspaper-a
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    margin: 45px;
    width: 480px;
    text-align: left;
    border-collapse: collapse;
    border: 1px solid #69c;
}
#newspaper-a th
{
    padding: 12px 17px 12px 17px;
    font-weight: normal;
    font-size: 14px;
    color: #039;
    border-bottom: 1px dashed #69c;
}
#newspaper-a td
{
    padding: 7px 17px 7px 17px;
    color: #669;
}
#newspaper-a tbody tr:hover td
{
    color: #339;
    background: #d0dafd;
}


#newspaper-b
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    margin: 45px;
    width: 480px;
    text-align: left;
    border-collapse: collapse;
    border: 1px solid #69c;
}
#newspaper-b th
{
    padding: 15px 10px 10px 10px;
    font-weight: normal;
    font-size: 14px;
    color: #039;
}
#newspaper-b tbody
{
    background: #e8edff;
}
#newspaper-b td
{
    padding: 10px;
    color: #669;
    border-top: 1px dashed #fff;
}
#newspaper-b tbody tr:hover td
{
    color: #339;
    background: #d0dafd;
}


#newspaper-c
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    margin: 45px;
    width: 480px;
    text-align: left;
    border-collapse: collapse;
    border: 1px solid #6cf;
}
#newspaper-c th
{
    padding: 20px;
    font-weight: normal;
    font-size: 13px;
    color: #039;
    text-transform: uppercase;
    border-right: 1px solid #0865c2;
    border-top: 1px solid #0865c2;
    border-left: 1px solid #0865c2;
    border-bottom: 1px solid #fff;
}
#newspaper-c td
{
    padding: 10px 20px;
    color: #669;
    border-right: 1px dashed #6cf;
}


#rounded-corner
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    margin: 45px;
    width: 480px;
    text-align: left;
    border-collapse: collapse;
}
#rounded-corner thead th.rounded-company
{
    background: #b9c9fe url('table-images/left.png') left -1px no-repeat;
}
#rounded-corner thead th.rounded-q4
{
    background: #b9c9fe url('table-images/right.png') right -1px no-repeat;
}
#rounded-corner th
{
    padding: 8px;
    font-weight: normal;
    font-size: 13px;
    color: #039;
    background: #b9c9fe;
}
#rounded-corner td
{
    padding: 8px;
    background: #e8edff;
    border-top: 1px solid #fff;
    color: #669;
}
#rounded-corner tfoot td.rounded-foot-left
{
    background: #e8edff url('table-images/botleft.png') left bottom no-repeat;
}
#rounded-corner tfoot td.rounded-foot-right
{
    background: #e8edff url('table-images/botright.png') right bottom no-repeat;
}
#rounded-corner tbody tr:hover td
{
    background: #d0dafd;
}


#background-image
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    margin: 45px;
    width: 480px;
    text-align: left;
    border-collapse: collapse;
    background: url('table-images/blurry.jpg') 330px 59px no-repeat;
}
#background-image th
{
    padding: 12px;
    font-weight: normal;
    font-size: 14px;
    color: #339;
}
#background-image td
{
    padding: 9px 12px;
    color: #669;
    border-top: 1px solid #fff;
}
#background-image tfoot td
{
    font-size: 11px;
}
#background-image tbody td
{
    background: url('table-images/back.png');
}
* html #background-image tbody td
{
    /*
       ----------------------------
            PUT THIS ON IE6 ONLY STYLE
            AS THE RULE INVALIDATES
            YOUR STYLESHEET
       ----------------------------
    */
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='table-images/back.png',sizingMethod='crop');
    background: none;
}
#background-image tbody tr:hover td
{
    color: #339;
    background: none;
}


#gradient-style
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    margin: 45px;
    width: 480px;
    text-align: left;
    border-collapse: collapse;
}
#gradient-style th
{
    font-size: 13px;
    font-weight: normal;
    padding: 8px;
    background: #b9c9fe url('table-images/gradhead.png') repeat-x;
    border-top: 2px solid #d3ddff;
    border-bottom: 1px solid #fff;
    color: #039;
}
#gradient-style td
{
    padding: 8px;
    border-bottom: 1px solid #fff;
    color: #669;
    border-top: 1px solid #fff;
    background: #e8edff url('table-images/gradback.png') repeat-x;
}
#gradient-style tfoot tr td
{
    background: #e8edff;
    font-size: 12px;
    color: #99c;
}
#gradient-style tbody tr:hover td
{
    background: #d0dafd url('table-images/gradhover.png') repeat-x;
    color: #339;
}


#pattern-style-a
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    margin: 45px;
    width: 480px;
    text-align: left;
    border-collapse: collapse;
    background: url('table-images/pattern.png');
}
#pattern-style-a thead tr
{
    background: url('table-images/pattern-head.png');
}
#pattern-style-a th
{
    font-size: 13px;
    font-weight: normal;
    padding: 8px;
    border-bottom: 1px solid #fff;
    color: #039;
}
#pattern-style-a td
{
    padding: 8px;
    border-bottom: 1px solid #fff;
    color: #669;
    border-top: 1px solid transparent;
}
#pattern-style-a tbody tr:hover td
{
    color: #339;
    background: #fff;
}


#pattern-style-b
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    margin: 45px;
    width: 480px;
    text-align: left;
    border-collapse: collapse;
    background: url('table-images/patternb.png');
}
#pattern-style-b thead tr
{
    background: url('table-images/patternb-head.png');
}
#pattern-style-b th
{
    font-size: 13px;
    font-weight: normal;
    padding: 8px;
    border-bottom: 1px solid #fff;
    color: #039;
}
#pattern-style-b td
{
    padding: 8px;
    border-bottom: 1px solid #fff;
    color: #669;
    border-top: 1px solid transparent;
}
#pattern-style-b tbody tr:hover td
{
    color: #339;
    background: #cdcdee;
}


#content{
    background-color: #fff;
    min-height: 400px;
}
/*logo*/
#logo.logo-text{
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0px 2px 3px #fff;
}
#logo{
    margin-top: 8px!important;
}
#logo img {
    width: 160px!important;
    height: auto!important;
    padding-left: 3px!important;
}
.smart-style-3 #logo.logo-text {
    text-shadow: none;
    color: #fff;
}
body.smart-style-1 #logo.logo-text {
    text-shadow: 0px 2px 3px #222;
    color: #fff;
}
/*end logo*/
.smart-style-3 #headers{
    background: #cdeb8e; /* Old browsers */
    background: -moz-linear-gradient(top, #cdeb8e 0%, #a5c956 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8e), color-stop(100%,#a5c956)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #cdeb8e 0%,#a5c956 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #cdeb8e 0%,#a5c956 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #cdeb8e 0%,#a5c956 100%); /* IE10+ */
    background: linear-gradient(to bottom, #cdeb8e 0%,#a5c956 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 ); /* IE6-9 */

}
/*utility classes*/
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.hidden{
    display: none;
    visibility: hidden;
}
.no-margin{
    margin: 0px!important;
}
.no-margin-top{
    margin-top: 0px!important;
}
.no-margin-right{
    margin-right: 0px!important;
}
.no-margin-bottom{
    margin-bottom: 0px!important;
}
.no-margin-left{
    margin-left: 0px!important;
}

.no-padding{
    padding: 0px!important;
}
.no-padding-top{
    padding-top: 0px!important;
}
.no-padding-right{
    padding-right: 0px!important;
}
.no-padding-bottom{
    padding-bottom: 0px!important;
}
.no-padding-left{
    padding-left: 0px!important;
}
.no-border{
    border:none!important;
}
.no-border-top{
    border-top: none!important;
}
.no-border-right{
    border-right: none!important;
}
.no-border-bottom{
    border-bottom: none!important;
}
.no-border-left{
    border-left: none!important;
}
.text-center{
    text-align: center;
}
/*form*/
.form-control:focus {
    border-color: #66afe9!important;
}
input.my-form-error,select.my-form-error,textarea.my-form-error {
    border-color: #b94a48!important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)!important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)!important;
}
.errorSummary{
    padding: 10px;
}
.errorSummary > ul{
    list-style-type: none;
    list-style: none;
}
.errorMessage{
    color: rgb(169, 68, 66);
    display: block;
}
.form-actions.default-style{
    margin-left: -13px!important;
    margin-right: -13px!important;
    margin-bottom: -13px!important;
}
.default-profile-photo{
    width: 150px;
    height: auto;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    height: 30px !important;
}
.chosen-container, [class*="chosen-container"] {
    vertical-align: middle !important;
    width: 100%!important;
}
.chosen-choices {
    box-shadow: none !important;
}
.form-control-inline{
    display: inline!important;
    width: auto;
}
/*end form*/
/*grid view*/
.grid-view thead tr{
    background: linear-gradient(to bottom, #F8F8F8 0px, #ECECEC 100%) repeat-x scroll 0% 0% #F2F2F2;
}
.grid-view thead th a.sort-link  {
    cursor: pointer;
    padding-right: 20px;
}
.grid-view thead th a.sort-link.asc {
    background: url('../img/sort_asc.png') no-repeat scroll right center transparent;
}
.grid-view thead th a.sort-link.desc{
    background: url('../img/sort_desc.png') no-repeat scroll right center transparent;
}
.grid-view thead th a{
    color: inherit;
}
.grid-view tbody tr.tr-selected td{
    background-color: #d9edf7!important;
}
.grid-view td.button-column a+a{
    margin-left:10px;
}
.grid-view .button-column{
    text-align: center;
}
.grid-view td.empty{
    text-align: center !important;
    font-size: 15px;
    background: none repeat scroll 0% 0% rgb(255, 255, 255) !important;
    padding: 20px 0px !important;
}
.grid-view tr.bg-danger td {
    background-color: #F2DEDE!important;
}
.grid-view tr.bg-warning td {
    background-color: #FCF8E3!important;
}
.grid-view tr.bg-success td {
    background-color: #DFF0D8!important;
}
div.dataTables_filter {
    position: absolute;
    right: 10px;
    top: -38px;
    left: auto;
}
.ColVis {
    position: absolute;
    top: -38px;
    left: 10px;
    right: auto;
}
.grid-view .label {
    font-size: 100%;
}
.dataTables_filter .input-group {
    width: 250px !important;
}
.DTTT.btn-group {
    position: absolute;
    top: -38px;
    left: 10px;
}
/*end grid view*/
/*
 * DEMO INPUT
 */

.sadmin-options label input[type=radio].radiobox+span:before, .sadmin-options label input[type=checkbox].checkbox+span:before {
    border: 1px solid #5E5E5E;
}
.sadmin-options label:hover input[type=checkbox].checkbox+span:before {
    border-color:#E77317;
}
/*
 * DEMO
 * Demo CSS only
 */
.sadmin-options label {
    margin-bottom:4 !important;
}

.sadmin-options .checkbox i {
    border-color: #7A7A7A;
}

.sadmin-options .radio, .sadmin-options .checkbox {
    padding-left:22px;
}

.sadmin-options.activate {
    right:0px !important;
    box-shadow: -11px 12px 23px rgba(0, 0, 0, 0.2);
    padding:5px 10px 10px;
}

.sadmin-options #sadmin-setting + form {
    display:none;
}

.sadmin-options.activate #sadmin-setting + form {
    display:block;
}

.sadmin-options {
    position:absolute;
    top:5px;
    right:0px;
    width:160px;
    z-index:5;
    background:#F1DA91;
}

.sadmin-options > span {
    position: absolute;
    right: 0px;
    top: 0px;
    display: block;
    height: 30px;
    width: 30px;
    border-radius: 5px 0 0 5px;
    background: #F1DA91;
    padding: 2px;
    text-align: center;
    line-height: 28px;
    cursor:pointer;
}

.sadmin-options > span i {
    font-size:17px;
}

.sadmin-options.activate > span i:before {
    content: "\f00d";
}

.sadmin-options.activate > span {
    left: -30px;
}

.sadmin-options > span:hover i {
    color:#333 !important;
}

.sadmin-options form section {
    margin:0 !important;
}

.sadmin-options .btn {
    font-size: 13px !important;
    line-height: 1.5 !important;
    border-radius: 3px !important;
    padding: 3px 7px !important;
    height:auto !important;
}
.sadmin-options-btns > li {
    display:inline-block;
    margin-bottom:7px;
}


.sadmin-icon-font {
    font-size: 14px;
    margin-bottom: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.sadmin-options-icon-font:hover {
    background-color: rgba(86, 61, 124, 0.1);
    text-decoration: none;
}

.sadmin-border {
    border:1px solid rgba(0,0,0,.2)
}
/*fine uploader*/
.qq-upload-button{
    width: 100%!important;
}
/*end fine uploader*/
#my_block_ui{
    color:white;
    font-weight:300;
    -webkit-font-smoothing: antialiased;
    font-size:18px;
    max-height: 100px!important;
}
/*Colors*/
.dark {
    color: #333333 !important;
}
.white {
    color: #ffffff !important;
}
.red {
    color: #dd5a43 !important;
}
.light-red {
    color: #ff7777 !important;
}
.blue {
    color: #478fca !important;
}
.light-blue {
    color: #93cbf9 !important;
}
.green {
    color: #69aa46 !important;
}
.light-green {
    color: #b0d877 !important;
}
.orange {
    color: #ff892a !important;
}
.light-orange {
    color: #fcac6f !important;
}
.orange2 {
    color: #feb902 !important;
}
.purple {
    color: #a069c3 !important;
}
.pink {
    color: #c6699f !important;
}
.pink2 {
    color: #d6487e !important;
}
.brown {
    color: #a52a2a !important;
}
.grey {
    color: #777777 !important;
}
.light-grey {
    color: #bbbbbb !important;
}
/*Error unit*/
#error-unit{
    padding: 30px 0px;
    margin-left: auto;
    margin-right: auto;
    font-size: 13em;
    text-align: center;
}
#error-unit i{
    color: #48A462;
}
#error-unit h1{
    font-size: 36px;
    line-height: 42px;
}
/*End error unit*/
/*modal css*/
.content-loading{
    text-align: center;
    padding: 20px;
}
.ui-datepicker{
    z-index: 1050!important;
}
/*end modal css*/
/*notification*/
.ajax-notifications {
    /*height: 365px;*/
    /*        height: auto;
            min-height: 200px;
            max-height: 365px;*/
}
.notification-body time {
    position: relative;
    top:auto;
    right: auto;
    font-size: inherit;
    font-weight: inherit;
    color: #999;
    white-space: normal;
}
.notification-body > li a, .notification-body > li a span {
    display: inherit;
    position: relative;
    overflow: hidden;
}
.notification-body .unread > span {
    background: none repeat scroll 0% 0% #FFFFE0;
}
.notification-body .unread span.notif-text{
    font-weight: bold;
}
/*end notification*/
/*event reminders*/
#external-events > li {
    margin: 6px 4px 6px 0px;
    display:block;
}
/*end event reminders*/
div.btn-group+ div.btn-group{
    margin-left: 5px;
}
/*footer*/
.footer-links {
    margin-top: 10px;
    padding-bottom: 20px;
    padding-left: 0;
    color: #999;
}
.footer-links li {
    display: inline;
    padding: 0 2px;
}
/*end footer*/
#sparks li h5 {
    padding-top: 1px;
}
/*table customizations*/
.table thead tr {
    /*font-size: 12px;*/
    font-size: inherit;
    background-image: none;
    background-color: inherit;
}
/*end table customizations*/
.table-no-border > thead > tr > th, .table-no-border > tbody > tr > th, .table-no-border > tfoot > tr > th, .table-no-border > thead > tr > td, .table-no-border > tbody > tr > td, .table-no-border > tfoot > tr > td {
    /*border-top: 1px solid #DDD;*/
    border-top: none;
}

